{% extends 'base.html' %}
{% load static %}
{% block title %}{{ services.name }}{% endblock %}
{% block menu %}
{#{% if perms.webapp.changes_services %}#}
        <li class="nav-item"><a href="{% url 'webapp:service_edit' services.pk %}" class="nav-link">Редактировать услугу</a></li>
{#    {% endif %}#}
        <li class="nav-item"><a href="{% url 'webapp:service_delete' services.pk %}" class="nav-link">Удалить услугу</a></li>
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ services.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                {% if services.photo %}
                    <img src="{{ services.photo.url }}" class="img-fluid" alt="{{ services.name }}">
                {% else %}
                    <img class="foto" src="{% static 'fotodefault.jpg' %}" alt="No foto!" />
                {% endif %}
            </div>
        </div>
        <p><b>Категория:</b> {{ services.get_category_display }}</p>
        <p><b>Описание:</b> {{ services.description }}</p>
    <h3><b>Отзывы для услуги:</b></h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="review-list">
        {% for review in reviews %}
            <div class="review">
                <p><b>{{ forloop.counter }}. {{ review.author.username }}</b></p>
                <p><b>Email: </b>{{ review.author.email }}</p>
                <div class="pre"><b>Отзыв: </b> {{ review.text }}</div>
                <div><b>Rating:</b> {{ review.rating }} из возможных 5</div>
                <hr>

            {% if review.author == request.user%}
                <p class="review-links">
                    <a href="{% url 'webapp:review_update' review.pk %}">Редактировать</a>
                    <a href="{% url 'webapp:review_delete' review.pk %}">Удалить</a>
                </p>
            {% endif %}
            </div>
        {% empty %}
            <p>Нет еще отзывов.</p>
        {% endfor %}
    </div>
        {% if request.user.is_authenticated %}
            <p><a href="{% url "webapp:review_create" services.pk %}">Добавить отзыв</a></p>
    {% endif %}
    </div>
{% endblock %}

